#banners-wrapper .container.d-flex.flex-column {
  display: grid !important;
  grid-gap: 15px !important;
}


#banners-wrapper .container img {
  width: 100% !important;
  height: auto !important;
  margin: 0 !important;
  object-fit: contain !important;
}


@media (max-width: 767px) {
  #banners-wrapper .container.d-flex.flex-column {
    grid-template-columns: 1fr 1fr !important; 
    grid-template-rows: auto auto auto !important; 
  }
  

  #banners-wrapper .container img:nth-child(1) {
    grid-column: 1 !important;
    grid-row: 1 !important;
  }
  
  #banners-wrapper .container img:nth-child(2) {
    grid-column: 2 !important;
    grid-row: 1 !important;
  }
  

  #banners-wrapper .container img:nth-child(3) {
    grid-column: 1 !important;
    grid-row: 2 !important;
  }
  
  #banners-wrapper .container img:nth-child(4) {
    grid-column: 2 !important;
    grid-row: 2 !important;
  }
  

  #banners-wrapper .container img:nth-child(5) {
    grid-column: 1 !important;
    grid-row: 3 !important;
  }
  
  #banners-wrapper .container img:nth-child(6) {
    grid-column: 2 !important;
    grid-row: 3 !important;
  }
}


@media (min-width: 768px) {
  #banners-wrapper .container.d-flex.flex-column {
    grid-template-columns: 1fr 1fr 1fr 1fr !important; 
    grid-template-rows: auto auto !important; 
  }
  

  #banners-wrapper .container img:nth-child(1) {
    grid-column: 1 / span 1 !important; 
    grid-row: 1 / span 2 !important; 
  }
  

  #banners-wrapper .container img:nth-child(2) {
    grid-column: 2 / span 1 !important; 
    grid-row: 1 / span 2 !important; 
  }
  

  #banners-wrapper .container img:nth-child(3) {
    grid-column: 3 !important; 
    grid-row: 1 !important; 
  }
  

  #banners-wrapper .container img:nth-child(4) {
    grid-column: 4 !important; 
    grid-row: 1 !important; 
  }
  
  
  #banners-wrapper .container img:nth-child(5) {
    grid-column: 3 !important; 
    grid-row: 2 !important; 
  }
  
 
  #banners-wrapper .container img:nth-child(6) {
    grid-column: 4 !important; 
    grid-row: 2 !important; 
  }
}
